/* App.css */

.container {
  padding-top: 50px;
}

.form-and-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .form-and-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.view-container {
  margin-top: 20px;
}

.table-responsive {
  overflow-x: auto;
}
